<div class="pos-container">
  <mat-card *ngFor="let pos of posList" class="pos-card" (click)="onPosClick(pos)">
    <mat-card-header>
      <mat-card-title>{{ pos.POSName }}</mat-card-title>
      <mat-card-subtitle>{{ pos.POSLocation }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img *ngIf="pos.ImageUrl" [src]="pos.ImageUrl" alt="{{ pos.POSName }}" class="pos-image"/>
      <div *ngIf="!pos.ImageUrl" class="no-image">Image not available</div>
      <div class="pos-details">
        <h4>Services:</h4>
        <ul>
          <li *ngFor="let service of pos.Services">{{ service.serviceName }}</li>
        </ul>
        <h4>Prestataires:</h4>
        <ul>
          <li *ngFor="let prestataire of pos.Prestataires">{{ prestataire.userName }}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
