<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img
              src="./assets/images/logos/ASM1.png"
              class="logo-reduced align-middle m-2"
              alt="logo"
            />
          </div>

          <h2 class="text-center m-t-24">Reset Your Password</h2>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              New Password
            </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
              Confirm Password
            </mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="confirmPassword" />
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-100">
              Reset Password
            </button>
          </form>

          <div class="d-flex align-items-center m-t-24">
            <a [routerLink]="['/login']" class="text-primary f-w-600 text-decoration-none f-s-14">
              Back to Login
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
